body {
  margin: 0;
}
.container {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar div {
  padding: 20px;
}
.nav-bar .left {
  margin-left: 100px;
}
.nav-bar .left p {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}
.nav-bar .right {
  margin-right: 100px;
}
.center {
  display: flex;
}

.center ul {
  display: flex;
  gap: 30px;
  text-decoration: none;
}
.center ul li a {
  text-decoration: none;
  opacity: 0.8;
  color: rgb(41, 40, 40);
}
.nav-bar .right p {
  background-color: rgb(214, 237, 255);
  border-radius: 20px;
  padding: 10px 25px;
  color: rgb(76, 202, 211);
  font-weight: 500;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .main-left {
  width: 40%;
  height: 100%;
  margin-left: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}
.main-content .main-left h1 {
  font-size: 48px;
  margin: 0;

  line-height: 1.2;
  color: #424242;
}

.main-content .main-left h1:last-of-type {
  color: #00a8e8;
}
.main-content .main-left p {
  color: #999;
  line-height: 1.6;
  margin: 10px 0;
}
.main-content .main-left input[type="button"] {
  background-color: #00a8e8;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  margin-top: 10px;
}

.main-content .main-right {
  width: 40%;
  height: 100%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .main-right img {
  max-width: 100%;
  height: auto;
}
