body {
  margin: 0;
  padding: 0;
}
.nav h1 {
  margin: 0;
  padding: 15px;
  font-weight: 500;
}
.nav {
  background-color: rgb(205, 205, 205);
  text-align: center;
  width: 100%;
  height: auto;
}
.boxes {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  margin-top: 150px;
}
.box {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
}
.name {
  margin-top: 80px;
  width: 50%;
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
#username {
  padding: 10px;
  border: 1px solid rgb(138, 136, 136);
}
#username:focus {
  border: 1px solid black;
}
#greet {
  padding: 10px;
  background-color: lightgray;
  border: 1px solid rgb(143, 143, 143);
}
